.main_input {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input-container {
    width: 715px;
    border-radius: 100px;
    border: 6px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.main-input input {
    width: 700px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #9EC7F3;
    margin-right: 16px;
    color: white;
}

.main-input-container:hover {
    box-shadow: 0 1px 6px 0 #ffffff;
    border-color: #fff;
}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 8px;
}